<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
    <script>function weatherReport() {
        var forecast = new XMLHttpRequest();
        forecast.open('GET', 'https://api.wunderground.com/api/cdf3f3537bf94c1c/forecast/q/NY/newyork.json', true);
        forecast.send();
        forecast.onload = function () {
          var myForecast = JSON.parse(forecast.responseText);
          console.log(myForecast.forecast);
          document.getElementById('high').value = myForecast.forecast.simpleforecast.forecastday[0].high.fahrenheit;
          document.getElementById('low').value = myForecast.forecast.simpleforecast.forecastday[0].low.fahrenheit;
          document.getElementById('conditions').value = myForecast.forecast.simpleforecast.forecastday[0].conditions;


        }

      }</script>
</head>

<body onload="weatherReport()">

  <% include ../partials/nav.ejs %>



    <div class=" container ">

      <!--Report form-->

      <div>
        <h1>Daily Job Site Reports</h1>
        <p>Use this page to access past reports and submit new ones.</p>
        <h2 class="bg-dark">View Past Reports</h2>

        <h4> Please select a past report to view</h4>
        <form action="/submitReport" method="GET ">
          <select name="report_id">
            <option>Please select</option>
            <% for(var i=0; i < data.length; i++) { %>
              <option value="<%=data[i].report_id%>">
                <%= data[i].report_date%>
              </option>
              <% } %>
                <input type="submit" class="btn-primary" value="View Report">

          </select>

        </form>
        <h2 class="bg-dark">Submit a New Report</h2>

        <form action="/sendReport" method="get">
          <div>
            <label>Report Date</label>
          </div>
          <div>
            <input type="date" name="date" required>
          </div>
          <div>
            <label>Name of Submitter</label>
          </div>
          <div>
            <input type="text" name="name" required>
          </div>

          <h3>Weather</h3>
          <p>The weather information is automatically populated for you, but you may change it or add to it as necessary.</p>
          <label>High</label>
          <input type="number" name="high" id="high" required>
          <label>Low</label>
          <input type="number" name="low" id="low" required>
          <label>Conditions</label>
          <input type="textarea" name="conditions" id="conditions" required>

          <div class="workers">
            <h3>Workers</h3>
            <table>
              <tr>
                <td>

                  <div>
                    <label>Category</label>
                  </div>
                  <select name="wcategory" required>
                    <option value="">--Please choose an option--</option>
                    <option value="Plumber">Plumber
                    </option>
                    <option value="Electrician">Electrician
                    </option>
                    <option value="Framing">Framing
                    </option>
                    <option value="HVAC">HVAC
                    </option>
                    <option value="Grading">Grading
                    </option>
                  </select>
                </td>
                <td>
                  <div>
                    <label># of Workers on site</label>
                  </div>
                  <input type="number" min=0 name="wnumber" required>
                </td>
                <td>
                  <div>
                    <label>Work Done</label>
                  </div>
                  <input type="textarea" name="wcontent" required>
                </td>
              </tr>
              <tr>
                <td>
                  <select name="wcategory">
                    <option value="">--Please choose an option--</option>
                    <option value="Plumber">Plumber
                    </option>
                    <option value="Electrician">Electrician
                    </option>
                    <option value="Framing">Framing
                    </option>
                    <option value="HVAC">HVAC
                    </option>
                    <option value="Grading">Grading
                    </option>
                  </select>
                </td>
                <td>
                  <input type="number" min=0 name="wnumber">
                </td>
                <td>
                  <input type="textarea" name="wcontent">
                </td>
              </tr>
              <tr>
                <td>
                  <select name="wcategory">
                    <option value="">--Please choose an option--</option>
                    <option value="Plumber">Plumber
                    </option>
                    <option value="Electrician">Electrician
                    </option>
                    <option value="Framing">Framing
                    </option>
                    <option value="HVAC">HVAC
                    </option>
                    <option value="Grading">Grading
                    </option>
                  </select>
                </td>
                <td>
                  <input type="number" min=0 name="wnumber">
                </td>
                <td>
                  <input type="textarea" name="wcontent">
                </td>
              </tr>
              <tr>
                <td>
                  <select name="wcategory">
                    <option value="">--Please choose an option--</option>
                    <option value="Plumber">Plumber
                    </option>
                    <option value="Electrician">Electrician
                    </option>
                    <option value="Framing">Framing
                    </option>
                    <option value="HVAC">HVAC
                    </option>
                    <option value="Grading">Grading
                    </option>
                  </select>
                </td>
                <td>
                  <input type="number" min=0 name="wnumber">
                </td>
                <td>
                  <input type="textarea" name="wcontent">
                </td>
              </tr>
              <tr>
                <td>
                  <select name="wcategory">
                    <option value="">--Please choose an option--</option>
                    <option value="Plumber">Plumber
                    </option>
                    <option value="Electrician">Electrician
                    </option>
                    <option value="Framing">Framing
                    </option>
                    <option value="HVAC">HVAC
                    </option>
                    <option value="Grading">Grading
                    </option>
                  </select>
                </td>
                <td>
                  <input type="number" min=0 name="wnumber">
                </td>
                <td>
                  <input type="textarea" name="wcontent">
                </td>
              </tr>
            </table>


          </div>

          <h3>Report</h3>
          <div>
            <label>Rental Equipment On Site</label>
          </div>
          <div>
            <input type="textarea" name="equipment" required>
          </div>
          <div>
            <label>What Happened Today?</label>
          </div>
          <div>
            <textarea rows="4" cols="50" name="reportContent" required></textarea>
          </div>
          <div>
            <label>Image Url</label>
          </div>
          <div>
            <input type="text" class="col-xs-4" name="imageFile">

            <p>Submit the full url to your publicly viewable image.</p>
          </div>

          <br/>
          <h4>New Issue</h4>
          <p>optional</p>
          <div>
            <textarea type="text" rows="4" cols="50" name="issue[]"></textarea>
          </div>
          <!--  <button onclick=""> Add Another Issue</button> -->


          <input type="submit" class="btn btn-primary" value="Submit">
        </form>

      </div>

    </div>

    <footer class="footer">
      <p>Kristina Plauché | CS 313 | Fall 2018</p>
    </footer>


</body>

</html>