!DOCTYPE html>
<<html>

    <head>
        <% include ../partials/header.ejs %>
    </head>

    <body>

        <% include ../partials/nav.ejs %>

            <body>
                <div class="container">

                    <h1>Display Report</h1>
                    <p>
                        The Report id is:
                        <%= result[0].client_id + " " + result[0].client_fname + " " + result[0].client_lname %>.
                    </p>
                    <p>
                        Email:
                        <%= result[0].client_email %>
                    </p>

                </div>
            </body>

            </html>