<!DOCTYPE html>
<html>

<head>
    <title>Answer</title>
</head>

<body>
    <h1>Result</h1>
    <p>
        <%= leftparam %>
            <%= operation %>
                <%= rightparam %> =
                    <%= answer %>
    </p>
</body>

</html>