<!DOCTYPE html>
<html>

<head>
    <title>Postal Rate</title>
</head>

<body>
    <h1>Postal Rate</h1>
    <p>
        A
        <%= leftparam %> oz package will cost $
            <%= answer %> to ship.
    </p>
</body>

</html>