<!DOCTYPE html>
<<html>

    <head>
        <% include ../partials/header.ejs %>
    </head>

    <body>

        <% include ../partials/nav.ejs %>

            <body>
                <h1>Client</h1>
                <p>
                    The client id is:
                    <%= result[0].client_id + " " + result[0].client_fname + " " + result[0].client_lname %>.
                </p>
                <p>
                    Email:
                    <%= result[0].client_email %>
                </p>

            </body>

            </html>