<!DOCTYPE html>
<html>

<head>
    <title>Postal Rate</title>
</head>

<body>
    <h1>Client</h1>
    <p>
        The client id is:
        <%= result.client_id + " " + result.client_fname %>.
    </p>
</body>

</html>